@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy policy is simple. We do not store any personal information about you. We do not track you. We do not use cookies. We do not share your information with anyone.</p>

<p>Check out the error page <a href="/Home/Error">here</a></p>
